<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Music Library</title>
<link rel="stylesheet" href="/styles.css"/>
</head>

<body>
<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>

<h1>Welcome, <%= @user.username.upcase %></h1>

<div id="createlinks">
<a href="/album/new">CREATE NEW ALBUM</a>  <a href="/song/new">CREATE NEW SONG</a>
</div>

<div id="albumlist">

<div id="listheading">
<h3>Albums</h3>
</div>

<% @albums.each do |album| %>

<div id="albumdetails">

      <p>Album Name: <%= album.name %></p>
      <p>Year Released: <%= album.year_released %></p>
      <p>Band Name: <%= album.user.username.upcase %></p>
    
</div>

<div id="albumlinks">
    <p><a href="/album/<%= album.slug %>">View Songs</a></p>
    <% if album.user_id == @user.id %>
    <p><a href="/album/<%= album.slug %>/edit">Edit Album/Songs</a></p>
    <% end %>
<% end %>
</div>

</div>

<div id="links">
  <a href="/main">Return to Main</a> <a href="/logout">Log Out</a>
</div>



</body>
</html>
