<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>

<h1>Welcome, <%= @user.username.upcase %></h1>

<h3>Albums</h3>

<% @albums.each do |album| %>

  <ul>
    <li>Album Name: <%= album.name %></li>
    <li>Year Released: <%= album.year_released %></li>
    <li>Band Name: <%= album.user.username.upcase %></li>
    <li><a href="/album/<%= album.slug %>">View Songs</a></li>
    <% if album.user_id == @user.id %>
    <li><a href="/album/<%= album.slug %>/edit">Edit Album/Songs</a></li>
    <% end %>
  </ul>

<% end %>



<p>Return to main <a href="/main">Main</a></p>

<p>Create <a href="/album/new">New Album</a> Create <a href="/song/new">New Song</a></p>
