<h2>Album name: <%= @album.name %></h2>
<h2>Band name: <%= @album.user.username.upcase %></h2>
<h2>Edit Album Name and Year of Release</h2>

<p>Add/Create <a href="/song/new">New Song</a></p><br>

<form action="/album/<%=@album.slug%>" method="POST">
  <label>Album Name:</label>
  <br></br>
  <input type="text" name="name" id="name" value="<%=@album.name%>">
  <br></br>
  <label>Year of Release:</label>
  <br></br>
  <input type="text" name="year_released" id="year_released" value="<%=@album.year_released%>">
  <br></br>
  <button type="submit" value="submit">submit</button>
</form>

<h3><%= @album.name %> Song List</h3>
<% @album.songs.each do |song| %>
<ul>
  <li>Song Name: <%= song.name %> <a href="/song/<%= @album.slug %>/<%= song.slug %>/edit">Edit Song</a></li>
</ul>
<% end %>

<p>Return to <a href="/albums">List of albums</a></p>
